{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "cfsworkload",
      "Space": "dev"
    },
    "Name": "pipes-app",
    "Instrumentation": {
      "host": "business-intelligence"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}