<h1>
  Welcome to the Simple Data Pipe
</h1>
<div ng-show="selectedPipe.tables && selectedPipe.tables.length > 0" class="alert alert-info">
  <p>
    <strong>Welcome back!</strong> Check out <a ng-click="goToNextPage('monitoring')">your pipe activity</a>.
  </p>
</div>

<p>
  The Simple Data Pipe is an app that moves your Salesforce data to dashDB, which is the IBM cloud data warehouse. Once you have your Salesforce data in dashDB, you can do all kinds of analysis on it, with all kinds of tools, such as SQL and Cognos Embeddable Reporting.
</p>
<p>
  <img src="../img/pipe-architecture-diagram_1.png" />
</p>
<p>
  This app is based on the  <a href="http://developer.ibm.com/clouddataservices/simple-data-pipe/">Simple Data Pipes app</a> by Sarah Maston and David Taieb from the IBM Cloud Data Services developer advocacy team. There are lots of ways to <a href="https://developer.ibm.com/clouddataservices/connect/">connect with them</a>, if you'd like to learn more.
</p>